PORT=3000
LOG_FILE=demo-app.log
COOL_KEEPER_URL=https://coolkeeper.dev
COOL_KEEPER_ORG_ID=
COOL_KEEPER_API_KEY=
COOL_KEEPER_REPO_URL=https://github.com/claudiobusatto/todo-list
COOL_KEEPER_BRANCH=main
